<router-outlet></router-outlet>

<div class="force-reload" *ngIf="forceReload">
  <div class="force-reload__box card">
    <div class="card-body">
      <div class="force-reload__top">
<!--        <img src="assets/images/logo/rectangle.png"/>-->
        Update Available
      </div>

      <br>
      <h5 class="card-title">Please reload your browser to get latest version:</h5>
      <ul>
        <li>On Window: Ctrl + Shift + R</li>
        <li>On Mac: Command + Shift + R</li>
        <li>Other devices/OS: just need to reload a few times. Still see the popup, try to clear iPhone's cache, Chrome cache on Android</li>
      </ul>
    </div>
  </div>
</div>
